header {
    background-color: #110a66;
    color: rgb(255, 255, 255);
    display:flex;
    justify-content: space-around;
}

.cabecalho-imagem{
    width: 50%; 
    display: flex;
    justify-content:center;
}

.cabecalho-list-item{
        display: inline-block;
    margin:0 16px;
}

* {
    margin: 0 16px;
    padding: 24px 0;
}